
/* General Page Elements */
@import url('https://fonts.googleapis.com/css?family=Mansalva+Roboto');

body {
  background-color: #353535; 
}
.row {
  padding: 10px; 
}
h1 {
  font-family: 'Mansalva', cursive;
  color: #F7C331; 
  font-size: 58px; 
}
h2, h3, h4, h5, p {
  color: white; 
  font-family: 'Roboto', sans-serif;
}
a {
  color: white; 
  text-decoration: none;
}
a:hover {
  color: white; 
  text-decoration: none;
}
/* -------------------------------------------------- */



/* Buttons */
.button{
  background-color:#FC4A1A;
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  font-size: 16px;
  font-weight: bold; 
  font-family: 'Roboto Condensed', sans-serif;
  text-decoration: none;
  margin: 10px; 
}

.button:hover {
  background-color:#F7C331; 
  color: white;
  text-decoration: none; 
}

.button-2 {
  background-color:#F7C331;
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  font-size: 16px;
  font-weight: bold; 
  font-family: 'Roboto Condensed', sans-serif;
  text-decoration: none;
  margin: 10px; 
}

.button-2:hover {
  background-color:#FC4A1A; 
  color: white;
  text-decoration: none; 
}

.button-small {
  background-color:#FC4A1A;
  border: none;
  color: white;
  padding: 8px 12px;
  text-align: center;
  font-size: 10px; 
  font-weight: bold; 
  font-family: 'Roboto Condensed', sans-serif;
  text-decoration: none;
  margin-left: 10px; 
}
/* -------------------------------------------------- */


#header-row {
  background-color: white; 
}

.jumbotron {
  background-color:#4ABDAC; 
  height: 300; 
  clear: "both"; 
  text-align: "center"
}



/* Icons  */
i /*Size of each icon */{ 
  font-size: 50px; 
  padding-left: 50px;
  padding-right: 50px; 
}
.iconText {
  text-align: center; 
}
#utensils {
  text-align: center; 
  color: darkgray; 
}
#carrot {
  color: #F7882F; 
}
#fish {
  color: RoyalBlue; 
}


/* -------------------------------------------------- */

