
#login-btn {
    background-color: red;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    font-weight: bold; 
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;
    margin: 10px; 
  }
  
  #login-btn:hover {
    background-color: #F7C331; 
    
  }

 .textCol {
  padding: 4%; 
 }

 .eggCol {
  background-image: url(../assets/eggs.jpg);  
  text-align: left;
  }

#welcome-text {
  margin-top: 30px; 
  font-size: 70px; 
  margin-bottom: 0; 
}  

#login-pg-p {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px; 
  text-align: left; 
  margin-left: 10px; 
  margin-right: 10px; 

}

#white-box {
  background-color: white; 
  padding: 10%; 
}
#white-box:hover {
  background-color: white; opacity:0.8; 
}
